<?xml version="1.0" encoding="utf-8"?>
<!--suppress SpringModelInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<description>The core configuration for the application.</description>

    <context:spring-configured/>
    <mvc:annotation-driven/>

    <context:property-placeholder location="classpath*:mongodb.properties"
                                  ignore-unresolvable="true"/>

	<context:annotation-config />

	<context:component-scan base-package="com.codetosalvation.mongo" />

	<import resource="applicationContext-mongodb.xml" />

	<bean id="genericCurdDao" class="com.codetosalvation.mongo.services.dao.impl.GenericCrudDaoImpl">
		<constructor-arg>
			<bean class="java.lang.Class" factory-method="forName">
   				<constructor-arg value="com.mongodb.BasicDBObject"/>
			</bean>
		</constructor-arg>
	</bean>
</beans>